html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* GLOBAL STYLE */
*{
    margin: 0;
    padding:0;
}

html{
    font-size: 65%;
}

body{
    font-family: 'Nova Flat', cursive;
    font-weight: 400;
    line-height: 29px;
    color: #186684;
}

h2{
    font-size: 3.2rem;
}

p{
    font-family: 'Catamaran', sans-serif;
    line-height: 29px;
    font-size: 2rem;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

figure{
    margin: 0;
}

ul{
    list-style: none;    
}

a{
    text-decoration: none;
    color: inherit;
    font-size: 2rem;
}

.wrapper{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto; 
}

/* HEADER style */
header{
    background-image: url('/assets/image-1@2x.png');
    min-height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0 auto; 
    position: relative;
    overflow: hidden;

} 

header nav{
    margin: 0 auto;
}

header nav ul{
    z-index: 1;
    text-align: center;
}

header nav li{
    display: inline-block;
    margin: 0;   
} 

header nav a{    
    display: block;
    margin: 20px;   
}

header a:hover,
header a:focus,
header .menu-btn:hover,
header .menu-btn:focus{
    color:#E85B26;
}

.social-links{
    text-align: center;    
    float: right;
    margin-top: 25vh;
}

.social-links li{
    font-size: 2rem;    
    margin: 5px;
    padding: 5px;     
}

h1{
    background-color: #F4F4F4;
    opacity: 0.9;
    position: absolute;
    display: inline-block;    
    padding:20px;
    font-weight: 400;
    font-size: 10rem; 
    width: 450px;    
    line-height: 8rem; 
    top:55%;
    left: 55%;
    transform: translate(-50%, -50%);
    letter-spacing: 2px;
}

/* HAMBURGER MENU */
.hamburger{
    position: relative;  
    top: 30px; 
    float: right;
    margin-right:10%;
    width: 30px;
    height: 4px;
    background: #186684;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.4s;
}

.hamburger:before,
.hamburger:after{
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: #186684;
    border-radius: 10px;
    transition: 0.4s;
}

.hamburger:before{
    top: -10px;
    width: 30px;
}

.hamburger:after{
    top: 10px;
    width: 30px;
}

.toggle-menu{
    position: absolute;
    width: 30px;
    right: 10%;
    top: 5px;
    height: 10%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

.hamburger,
.toggle-menu{
    display: none;
}

header nav input:checked ~ .hamburger{
    background: transparent;
}

header nav input:checked ~ .hamburger:before{
    top:0;
    transform: rotate(-45deg);
    width: 30px;
}
header nav input:checked ~ .hamburger:after{
    top:0;
    transform: rotate(45deg);
    width: 30px;
}

/* ABOUT/ABOUTMORE style */
.about, .aboutMore{
    background-color: #F4F4F4;     
}

.about-box, figure{
    float: left;
    width: 50%;      
} 

figure img{
    object-fit: cover;
    min-height: 550px; 
}

.about-box{
    min-height: 550px;
    max-height: 850px; 
    position: relative;
    padding: 0 3rem;
}

.about-text-box{
    position: absolute;     
    top: 50%;
    transform: translate(0,-50% );
}

.about h2,
.aboutMore h2{
  padding: 2rem 0;
}

.about p {
  padding: 2rem 5rem 4rem 0;   
}

.aboutMore p{
  padding: 2rem 5rem 2rem 0;
}

.aboutMore .about-box{
    padding-left: 8rem;
}

.about p {
  padding: 2rem 8rem 4rem 0;   
}

.btn{    
    font-size: 1.8rem;
    padding: 10px 30px;
    border: 3px solid #E85B26;
}

.btn:hover,
.btn:focus{
    color:#E85B26;
}

/* BLOG style */
.blog{
    background-color: #E3E4EA;
    padding: 30px 0;
}

.blog figure,
.moreInfo{
    float: left;
}

.blog figure{
    margin: 30px 0;    
    padding-left: 3rem;
    width: calc(45% - 3rem);
  
}



.moreInfo{
    width: 60%;
    margin: 30px 0 0 30px;
    padding-right: 3rem;
    width: calc(55% - 60px);
}

.moreInfo h2,
.moreInfo p{
    margin-bottom: 30px;
}

/* CONTACT style */
.contact{
    background-image: url("/assets/image-5@2x.png");
    min-height: 85vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto; 
    position: relative;
}

.contact-box{
    background-color: #F4F4F4;
    width: 40%;
    height: 200px;
    display: inline-block;  
    position: absolute; 
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.contact-box>div{
    width: calc(100% / 3);
    float: left;    
    padding-top: 50px;
}

.contact-box p{
    padding-top: 20px;
    font-size: 3rem;
}

.fa-shopping-bag,
.fa-users,
.fa-phone{
    color: #E85B26;
    font-size: 40px;
}

.contact a:hover,
.contact a:focus{
    color: #E85B26;
}

/* GALLERY style */
.gallery h2{
    text-align: center;
    margin: 50px 0;
}

.gallery ul{
    padding: 0 3rem;
}

.gallery li{
    float: left;
    margin-right: 20px;
    margin-bottom: 50px;
    width: calc((100% - 40px) / 3);
}

.gallery li:nth-child(3){
    margin-right: 0;
}

/* FOOTER style */
footer{
    background-color: #F4F4F4;
    color: #000000;   
}

footer h2{
    color:#E85B26;
}

footer nav{
    margin: 0 auto;
    text-align: center;
}

footer li{
    display: inline-block;
}

footer a{
    display: block;
    margin: 40px 20px;
}

footer a:hover,
footer a:focus{
    color:#E85B26;
}

address{
     margin: 20px 0;
     font-size: 2rem;
     padding: 0 2px 0 0;
}

.address-box, .subscribe{
    float: left;
    width: 50%;
    margin-bottom: 50px;  
}

.address-box{
    padding-left: 3rem; 
}

.subscribe{
    padding-right: 3rem; 
}
.subscribe p{
    margin: 20px 0;    
}

input[type=text], input[type=submit] {
    padding:12px;
    margin: 0; 
    font-size: 20px;   
} 

input[type=text]{
    width: 70%;
}

input[type=submit] {
    width: 25%;
    text-transform: uppercase;
    text-align: center;

}

input[type=submit]:hover,
input[type=submit]:focus {
    background-color: #186684;
    color: #F4F4F4;
    transition: 0.5s;
    border: #E85B26 solid;
}

.copyright{
    background-color: #1F2022;
    text-align: center;
    color: #F4F4F4;
    padding: 10px 0;;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
/* HEADER style */
header{  
  background-position: 35%;
} 
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
/* ABOUT/ABOUTMORE style */
.about p {
  padding: 2rem 4rem 4rem 0;   
}

.aboutMore .about-box{
    padding-left: 4rem;
}

/* BLOG style */
.blog{
    text-align: center;
}
.blog figure{
    margin: 30px 0;
    width: 100%;
    padding: 0 3rem;
}

.moreInfo{
    width: 100%;
    margin: 30px 0;
    padding: 3rem;    
     
}

.moreInfo p{
    text-align: left;
}

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
/* ABOUT/ABOUTMORE style */
.about, .aboutMore{
    text-align: center;    
}
.about-box, figure{
    float: left;
    width: 100%;
} 

.about .about-box{
    margin-top: 550px;    
} 

.about figure{
    height: 550px;
    /* max-height: 200px;
    overflow: hidden; */
    margin-left: -100%;
}

.about-text-box{
    margin-right: 3rem ;
}

.aboutMore .about-text-box{
    margin-left: 3rem ;
}

.about h2,
.aboutMore h2{
  padding: 2rem 0;
}

.about p {
  padding: 2rem  0;   
}

.aboutMore p{
  padding: 2rem  0;
}

.aboutMore .about-box{
    padding-left: 0rem;
}

/* CONTACT style */
.contact-box{
    margin: 0;    
    width: 40%;
    padding: 20px;
    height: auto;
    display: block;  
}

.contact-box>div{
    width: 100%;
    float: left;    
    padding: 20px;
}

.contact-box p{
    padding-top: 10px;   
}

/* FOOTER style */
footer{
    text-align: center;
}
address{
     margin: 20px 0;
     font-size: 2rem;
     padding: 0;
}

.address-box, .subscribe{
    width: 100%; 
}

.address-box{
    padding-left: 0; 
}

.subscribe{
    padding-right: 0; 
}
.subscribe p{
    padding: 0 10px;    
}

input[type=text], input[type=submit] {      
    text-align: center; 
} 

input[type=text]{
    width: 80%;
}

input[type=submit] {
    width: 80%;
    margin: 20px; 
}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .hamburger,
.toggle-menu{
    display: block;
}

header nav input:checked ~ ul
{
  transform: none;  
}

.hamburger,
.toggle-menu{
    display: block;
}

.menu{   
    position: absolute;
    background-color: #F4F4F4 ;
    width: 100%;
    padding: 40px;
    list-style-type: none;
    transform: translate(-100%, 0);
}

 .menu li{
     display: block;
     padding: 10px 0;
 }

header nav input:checked ~ ul
{
  transform: none;  
}

.social-links{
    display: none;
}

/* GALLERY style */
.gallery ul{
    padding: 0 2rem;
}

.gallery li{
    width: calc((100% - 20px) / 2);
}

.gallery li:nth-child(2){
    margin-right: 0;
}

.gallery li:nth-child(2){
    display: none;
}

}

@media only screen and (max-width: 430px) {
    h1{
    font-size: 7rem; 
    width: 330px;    
}

/* CONTACT style */
.contact-box{        
    width: 50%;      
}

.contact-box>div{
    width: 100%;
    float: left;    
    padding: 10px;
}


footer a{
    margin: 40px 10px;
    font-size: 18px
}

}
